.global-search-table-input {
  height: 50px;
  margin: 0 0 20px 0;
}

.page-search-table-input {
  width: 150px;
}

.table-row-header {
  display: flex;
  align-items: center;
}

.form-table-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.button-form-table-modal {
  width: auto;
  margin: 20px;
}

.select-form-table-modal {
  width: 330px;
  border: none;
  padding: 10px 10px 10px 5px;
  margin: 5px 45px 0 45px;
  height: 70px;
}
